{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row p-3">
      <div class="col">
  <table class="table">
    <thead>
      <h3>Users</h3>
    <tr>
      <th>Login</th>
      <th>Password</th>
      <th>Admin?</th>
      <th>Operator</th>
      <th>Employer</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for user in User.query.all() %}
    <tr>
      <td>{{ user.login }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.admin }}</td>
      <td>{{ user.operator_id }}</td>
      <td>{{ user.employer_id }}</td>
      <td>X</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
  </div>
{% endblock %}
