{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row p-3">
    <div class="col">

      <h2>Stops</h2>

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for stop in Stop.query.order_by(Stop.id).all() %}
        <tr>
          <td scope="row">
            {{ stop.id }}
          </td>
          <td>
            {{ stop.name }}
          </td>
          <td align="right" width="1%" nowrap>
            <a class="btn btn-warning" href="{{ url_for('admin_stops_modify', redir=url_for('admin_stops'), id=stop.id) }}">Modify</a>
            <a class="btn btn-danger" href="{{ url_for('admin_stops_delete', redir=url_for('admin_stops'), id=stop.id) }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

      <h2>Proposed Stop Changes</h2>

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Action</th>
          <th scope="col">New Name</th>
          <th scope="col">Original Stop Name</th>
          <th scope="col">Original Stop ID</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for stopProposal in StopProposal.query.order_by(StopProposal.id).all() %}
        <tr>
          <td scope="row">
            {{ stopProposal.id }}
          </td>
          <td>
            {% if stopProposal.original_id is none %}
            <span class="badge bg-success">Create</span>
            {% elif stopProposal.name == "" %}
            <span class="badge bg-danger">Delete</span>
            {% else %}
            <span class="badge bg-warning">Modify</span>
            {% endif %}
          </td>
          <td>
            {{ stopProposal.name }}
          </td>
          <td>
            {{ stopProposal.original.name }}
          </td>
          <td>
            {{ stopProposal.original_id }}
          </td>
          <td align="right" width="1%" nowrap>
            <form method="post" class="form-inline" nowrap>
              <input type="hidden" name="redir" value="{{ url_for('admin_stops') }}">
              <input type="hidden" name="id" value="{{ stopProposal.id }}">
              <button type="submit" formaction="{{ url_for('admin_stops_proposal_approve') }}" class="btn btn-success">Approve</button>
              <button type="submit" formaction="{{ url_for('admin_stops_proposal_decline') }}" class="btn btn-danger">Decline</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

      <span>
        <h2>Add new stop</h2>
        <form action="{{ url_for('admin_stops_add') }}" method="POST" class="g-3">
          <input type="text" class="form-control" name="name" placeholder="Name" required>
          <input type="hidden" name="redir" value="{{ url_for('admin_stops') }}">
          <button type="submit" class="col-auto btn btn-primary">Add Stop</button>
        </form>
      </span>
    </div>
  </div>
</div>
{% endblock %}
