{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <form method="post" action="{{ url_for('admin_stops_modify') }}" class="p-3">
      <h4 class="py-3">Modifying stop <b>{{ stop.name }}</b></h4>
      <div class="mb-3">
        <label for="name" class="form-label">New name</label>
        <input style="max-width: 30em" type="text" class="form-control" name="name" value="{{ stop.name }}">
      </div>
      <input type="hidden" name="redir" value="{{ g.redir }}">
      <input type="hidden" name="id" value="{{ stop.id }}">
      <button type="submit" class="btn btn-warning">Modify Stop</button>
    </form>
  </div>
</div>
{% endblock %}
