{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row p-3">
      <div class="col">

        <h2>Stops of line <b>{{ line.name }}</b> of operator <b>{{ line.operator.name }}</b></h2>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Position</th>
              <th scope="col">Stop ID</th>
              <th scope="col">Stop Name</th>
              <th scope="col">Distance from previous in minutes</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for lineStop in line.stops %}
            <tr>
              <td scope="row">
                {{ lineStop.position }}
              </td>
              <td scope="row">
                {{ lineStop.stop.id }}
              </td>
              <td>
                {{ lineStop.stop.name }}
              </td>
              <td>
                {{ lineStop.time_delta }}
              </td>
              <td align="right" width="1%" nowrap>
                <a class="btn btn-primary" href="{{ url_for('index', redir=url_for('operator_lines'), stop_id=lineStop.id) }}">Modify</a>
                <a class="btn btn-danger" href="{{ url_for('operator_lines_delete', redir=url_for('operator_lines'), stop_id=lineStop.id) }}">Remove</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <h2>Add stop</h2>

        <span>
          <form action="{{ url_for('operator_lines_stops') }}" method="POST" class="g-3">
            <select class="form-select" id="stop" name="stop" required>
              <option value="" selected>Select Stop</option>
              {% for stop in Stop.query.order_by(Stop.name) %}
                <option value="{{ stop.id }}">{{ stop.name }}</option>
              {% endfor %}
            </select>
            {% if line.stops|count > 0 %}
              <input type="number" class="form-control" name="time_delta" placeholder="Distance from previous in minutes" required>
            {% endif %}
            <input type="hidden" name="line_id" value="{{ line.id }}">
            <input type="hidden" name="redir" value="{{ url_for('operator_lines_stops', line_id=line.id) }}">
            <button type="submit" class="col-auto btn btn-primary">Add Stop</button>
          </form>
        </span>
    </div>
  </div>
</div>
{% endblock %}
