{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row p-3">
      <div class="col">

        <h2>My tickets</h2>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Seats</th>
              <th scope="col">From Stop</th>
              <th scope="col">To Stop</th>
              <th scope="col">Departure</th>
              <th scope="col">Arrival</th>
              <th scope="col">Travel time</th>
              <th scope="col">Operator</th>
              <th scope="col">Vehicle</th>
              <th scope="col">Last Location</th>
              <th scope="col">Confirmed</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for t in tickets %}
            <tr>
              <td>
                {{ t['ticket'].num_seats }}
              </td>
              <td>
                {{ t['start_name'] }}
              </td>
              <td>
                {{ t['end_name'] }}
              </td>
              <td>
                {{ t['start_time'] }}
              </td>
              <td>
                {{ t['end_time'] }}
              </td>
              <td>
                {{ t['duration'] }}
              </td>
              <td>
                {{ t['ticket'].connection.line.operator.name }}
              </td>
              <td>
                {{ t['ticket'].connection.vehicle.description }}
              </td>
              <td>
                {% if t['ticket'].connection.vehicle.last_known_stop %}{{ t['ticket'].connection.vehicle.last_known_stop.name}}{% else %}<span class="badge bg-secondary">Unknown</span>{% endif %}
              </td>
              <td>
                {{ t['ticket'].confirmed }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
